<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Obscure MLS Stats</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='scrolling-nav.css') }}">
    <style>section{ height: 100vh;}header{ height: 100vh; }</style>

  </head>

  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Obscure MLS Stats</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#subS">Sub Stats</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#ph">Placeholder</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#req">Requests</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="bg-danger text-white">
      <div class="container text-center">
        <h1>Welcome to Obscure MLS Stats!</h1>
        <p class="lead">I realized that there's some, how do we say it...obscure stats...that are not really well shown. I thought, how often does Caleb Porter make substitutes? who comes out the most?</p>
        <p>Right now I'm only pullling substitute stats but I'm always interested in grabbing more.<p>
        <i class="fa fa-trophy fa-5x" aria-hidden="true"></i>
      </div>
    </header>

    <section id="subS" class="well text-dark~">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2>How often are coaches using their subs?</h2>
            <p class="lead">Some coaches don't use their subs all the time, that's just a fact; this occurs for many reasons. This display doesn't provide any context other than when subs were used.</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group" role="group" aria-label="First group">
                <form action="" method="POST" ><button type="submit" class="btn btn-secondary" name="testing" value="testing"><img src="https://img.mlsdigital.net/www.mlssoccer.com/7/image/207523/x25.png"></button></form>
                <button type="submit" class="btn btn-secondary"><img src="https://img.mlsdigital.net/www.mlssoccer.com/7/image/234567/x25.png"></button>
              </div>
            </div>
          </div>
          <div class="col">
            <h2>How often are coaches using their subs?</h2>
            <p class="lead">Some coaches don't use their subs all the time, that's just a fact; this occurs for many reasons. This display doesn't provide any context other than when subs were used.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="ph" class="bg-danger text-white align-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Placeholder</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Request something!</h2>
            <p class="lead">If you have an idea on what I can include on here, let me know! I can pull anything from the MLS Matchcenter so if there's something you'd like specifically pulled from there just let me know!</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">RCTID</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script type=text/javascript src="{{url_for('static', filename='jquery.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='bootstrap.bundle.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script type=text/javascript src="{{url_for('static', filename='jquery.easing.min.js') }}"></script>

    <!-- Custom JavaScript for this theme -->
    <script type=text/javascript src="{{url_for('static', filename='scrolling-nav.js') }}"></script>
  </body>
</html>
